{% extends 'base.html.twig' %}

{% block title %}Historique mail{% endblock %}

{% block body %}

  <h1>Historique des mails envoyés</h1>

<div class="mails">

  <table class="table">
    <thead>
      <tr>
        <th>Destinataire</th>
        <th>Sujet</th>
        <th>Corps</th>
      </tr>
    </thead>
    <tbody>
      {% for mail in mails %}
      <tr class="ligne">
        <td>{{ mail.destinataire }}</td>
        <td>{{ mail.sujet }}</td>
        <td>{{ mail.corps }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="5">Aucun mail envoyé</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

  <a href="{{ path('mail_new') }}" class="new-mail">Créer un nouveau mail</a>
{% endblock %}
